langchain-openai
langchain
python-dotenv
langchain_community
pandas
numpy
langchain_core
streamlit
langchain-groq
pypdf
arxiv
bs4
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
